.footer{
    padding: 100px 50px 50px;
    background-color: #000;
}
.footer-content{
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.footer-content .footer-columm{
    width: 25%;
    padding: 24px;
}
/* .footer-content .footer-columm:not(:last-child){
    margin-right: 32px;
} */
.footer-content .footer-columm > img{
    height: 84px;
    width: 264px;
    display: block;
}
.footer-content .footer-columm span{
    color: var(--footer-color);
    margin: 8px 0;
    display: inline-block;
}
.footer-content .footer-contact{
    list-style: none;
}
.footer-content .footer-contact li{
    display: flex;
    margin-top: 12px;
    font-size: 16px;
}
.footer-content .footer-contact li i{
    margin-right: 4px;
    display: flex;
    align-items: center;
}
.footer-columm .footer-lolumn-post{
    list-style: none;
    
}
.footer-columm .footer-lolumn-post li{
    margin-top: 16px;
    font-size: 16px;
}
.footer-columm .footer-lolumn-post li p{
    margin-top: 8px;
}
.footer-columm .footer-columm-form{
    margin-top: 8px;
}
.footer-columm .footer-columm-form-item{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom:16px ;
    background-color: #fff;
}
.footer-columm .footer-columm-form-item input{
    padding: 12px 16px;
    border: none;
    outline: none;
    width: 100%;
}
.footer-columm .footer-columm-form-item i{
    color: #000;
    margin-left: 16px;
}
.footer-columm button{
    width: 100%;
    padding: 12px 0;
    background: var(--primary-color) ;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.footer-columm button:hover{
    background-color: antiquewhite;
}
.footer .footer-text-bottom{
    color: #fff;
    text-align: center; 
    margin-top: 64px;
}
.footer .footer-text-bottom a {
    text-decoration: none;
    color: #fff;
}
.footer .footer-text-bottom a:hover{
    color: var(--primary-color);
}
